@font-face{
    font-family: Bakery-font;
    src: url('/Fonts/Local Bakery.ttf');
}
@font-face {
    font-family: BakeryIcons-font;
    src: url('/Fonts/Bakery.ttf');
}


body {
    background-image: url("https://cdn.vectorstock.com/i/500p/57/28/bakery-seamless-background-vector-27135728.jpg");
}
#Container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    margin-top: -6.0vw;
    
}

#sub-container {
    background-color: transparent;
    backdrop-filter: blur(5px);
    width: 35.0vw;
    height: 35.0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.0vw solid transparent;
    border-radius: 1.0vw;
    box-shadow: 0vw 0vw 1.5vw 1.2vw rgb(255, 255, 255);
   
}

h1{
    font-family: Bakery-font;
    text-align: center;
    margin-top: 6.0vw;
    font-size: 3.5vw;
}

label{

    font-family: Bakery-font;
    font-size: 1.5vw;
    display: block;
}

input[type="text"], input[type="password"] {
    display: flex;
    margin-top: -2.0vw;
}

#submit-btn{
    margin-top: 1.0vw;
    margin-left: 4.5vw;
}


#coffe-gif{
    width: 7.0vw;
    height: auto;
}


#error-message {
    display: none;
    color: red;
}

#link-regis{
    margin-left: 3.0vw;
    text-decoration: none;
}

#link-regis:hover{
    color:aqua;
}

#codefield{
    width:14.0vw;
    height:2.2vw;
}

#pass_field{
    width: 14.0vw;
    height: 2.2vw;
}