
@{
    ViewBag.Title = "DrinksData";
}

<!DOCTYPE html>
<html>

<head>
    <title>Drinks Managment</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Drink Managment">
    <meta name="author" content="Carlos Lopez">
    <link rel="stylesheet" href="~/CSS/DataManagment.css" />

</head>

<body>


    <section id="Drinks-Add">
        <form action="javascript:void(0);" method="POST" onsubmit="addDrinks()">
            <h4 id="formTitle">Add Drinks</h4>
            <ul>
                <li>
                    <label for="dri_code"><strong>Drink Code:</strong></label>
                    <input type="text" id="dri_code" placeholder="New Drink Code">
                </li>
                <li>
                    <label for="dri_desc"><strong>Description:</strong></label>
                    <input type="text" id="dri_desc" placeholder="New description" />
                </li>
                <li>
                    <label for="id-promo_drinks"><strong>Promotion/discount:</strong></label>
                    <input type="text" id="id-promo_drinks" placeholder="New promotion/discount" />
                </li>
                <li>
                    <label for="dri_price"><strong>Price:</strong></label>
                    <input type="text" id="dri_price" placeholder="New price" />
                </li>
                <li>
                    <label for="dri_type"><strong>Type:</strong></label>
                    <input type="text" id="dri_type" placeholder="New Type" />
                    <input type="submit" value="Add">
                </li>

            </ul>
        </form>
    </section>

    <section id="Drinks-Edit">

        <form action="javascript:void(0);" onsubmit="updateDrinks()">
            <h4>Edit Drinks</h4>
            <!---->
            <label for="EditdriCode"><strong>Drink Code:</strong></label>
            <input type="text" id="EditdriCode" placeholder="" readonly>
            <!---->
            <label for="editdriDesc"><strong>Description:</strong></label>
            <input type="text" id="editdriDesc" placeholder="" />
            <!---->
            <label for="editpromodri"><strong>Promotion/discount:</strong></label>
            <input type="text" id="editpromodri" placeholder="" />
            <!---->
            <label for="editdriPrice"><strong>Price:</strong></label>
            <input type="text" id="editdriPrice" placeholder="" />
            <!---->
            <label for="editdriType"><strong>Type:</strong></label>
            <input type="text" id="editdriType" placeholder="" />
            <!---->
            <input type="submit" value="Save">
            <a onclick="closeInput()" aria-label="close">&#10006;</a>
        </form>
    </section>

    <section id="SearchDrinks">
        <form action="javascript:void(0);" onsubmit="searchDrinks()">
            <h4>Search Drinks</h4>
            <p>Enter information to search for drinks.</p>
            <label for="Searchdrink"><strong>Search:</strong></label>
            <input type="text" id="Searchdrink" placeholder="Enter value" />
            <input type="submit" value="Search" />
        </form>
    </section>
    <br />



    <section id="Alldrinks">
        <h2>All Drinks</h2>
        <div id="table_container">
        <table>
            <thead>
                <tr>
                    <th>DrinkCode</th>
                    <th>Description</th>
                    <th>Promotion/Discount</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Edit Drinks</th>
                    <th>Delete Drinks</th>
                </tr>
            </thead>
            <tbody id="DetDrinks">
            </tbody>
        </table>
            </div>
    </section>

    <p id="counter"></p>

    <!---------------------------------------------------------------------------->



    <script src="~/Scripts/App/Drinks.js" asp-append-version="true"></script>

    <script type="text/javascript">
        getDrinks();

    </script>

</body>

</html>

