
@{
    ViewBag.Title = "AdminPanel";
}




<!DOCTYPE html>
<html>

<head>
    <title>Administrator Panel</title>
    <meta charset="UTF-8">
    <meta name="carlos" content="Admin Panel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/CSS/DataPanel.css">
</head>

<body>
    <h1>Administrator Panel<img id="Admin_img" src="https://cdn-icons-png.freepik.com/256/6024/6024190.png?semt=ais_hybrid" /></h1>

    <div id="parentContainer">
        <div id="OptionContainer">
            <ul>
                <li>
                    <p>Manage Users</p>
                    <button id="buttonid" onclick="window.location.href='../ManageDataBakery/UserDataAdmin';">Users management</button>
                </li>
                <li>
                    <p>Manage Desserts, Drinks, Customers, Invoices and Orders</p>
                    <button id="buttonid" onclick="window.location.href='../ManageDataBakery/DessertData';">Desserts management</button>
                    <br />
                    <button id="buttonid" onclick="window.location.href='../ManageDataBakery/DrinksData';">Drinks management</button>
                    <br />
                    <button id="buttonid" onclick="window.location.href='../ManageDataBakery/CustomersData';">Customers management</button>
                    <br />
                    <button id="buttonid" onclick="window.location.href='../ManageDataBakery/InvoiceData';">Invoices management</button>
                    <br />
                    <button id="buttonid" onclick="window.location.href='../ManageDataBakery/ClientOrderData';">Orders management</button>
                    <br />

                </li>

                <li>
                    <p>View Reports</p>
                    <button id="buttonid" onclick="window.location.href='../ManageDataBakery/ReportsView';">reports</button>
                </li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">


        localStorage.setItem("myRol", 1);
    </script>

  
    <script src="~/Scripts/App/Invoice.js" asp-append-version="true"></script>






</body>
</html>
